streamlit>=1.28.0
python-dotenv>=1.0.0
st-copy-to-clipboard>=0.0.3
requests>=2.31.0
beautifulsoup4>=4.12.0
youtube_transcript_api>=0.6.1
google-generativeai==0.2.2
protobuf==4.23.4
lxml>=4.9.2
urllib3>=1.26.16